.output-wrapper {
    display: flex;
    place-items: unset;
    align-items: center;  
    flex-wrap: wrap;
    gap: 2rem; 
    padding: 0;
    margin: 2rem;
    align-items: flex-start;
  }
.full-width {
  width: 100%;
}
.output-wrapper h1 {
    text-align: center;   
}

.student-search-input {
  padding: 0.5rem 1rem;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}